<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSUIElement</key>
	<true/>
	<key>NSInputMonitoringUsageDescription</key>
	<string>InputLocker 需要监听键盘事件以确保输入法始终锁定在您指定的输入法上。</string>
</dict>
</plist>
